<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-dark">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>15.01.21</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi expedita facilis fuga nostrum odio, pariatur vero. Eaque, nihil praesentium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi expedita facilis fuga nostrum odio, pariatur vero. Eaque, nihil praesentium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi expedita facilis fuga nostrum odio, pariatur vero. Eaque, nihil praesentium!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab excepturi expedita facilis fuga nostrum odio, pariatur vero. Eaque, nihil praesentium!</p>
  </div>

</div>
