//hr{
//  width: 50%;
//}
.card-header{
  border-bottom: 1px solid #99031fe4;
  width: 90px;
}
small{
  font-family: ITCFranklinGothic,helvetica,sans-serif;
  font-style: normal;
  font-size: 11px;
  text-transform: uppercase;
}
